body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    color: white; 
    background-color: #1e293b; 
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
}
